<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <app-header></app-header>
    
    <main  class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col">
          <!--- Ads are here ---------------------------- -->
          <span id="method16"></span>
        </div>
        <div align="center" class="mdl-cell mdl-cell--6-col">
            <div class="logo">
              <img style=" width: 100px; height: auto; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
                " src ="">
            </div>
            <div class="organisation">
              All Exam Corner
            </div>
            <div >
                <ul class="tim">
                    <li class="nmin">{{val}} </li>
                    
                  </ul>
            </div>
            <div class="container">
                <div>
                    <div class="Instructions"></div>
                    
                    <div class="Instlist">
                      <ol >
                        <li > <button style="width:100px" mat-button (click)=home()> Go to Home</button></li>
                        <li > <button style="width:100px" mat-button (click)=logout()>Logout </button> </li>
                      </ol>
                    </div>
                    <div class="Instructions"></div>
                </div>
                <span id="method18"></span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">           
          <!--- Ads are here ---------------------------- --> 
          <span id="method17"></span>
        </div>
      </div>
    </main>
    
      <app-footer></app-footer>
  </div>