.gradient{
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
#lock {
    width:40%;
    margin: 1.5em auto 4em auto;
    display:block;
}
.mdl-grid {
    padding : 0px;
}
#fb {
    background:#3B5998 url('assets/images/facebook.svg') no-repeat 14px 6px;
    background-size: 47px;
    color:#fff;
}

#google {
    border: 1px solid #95989A;
    background: #fff  url('assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
}

#email {
    background: #ECECEC  url('assets/images/email.svg') no-repeat 25px;
    background-size: 25px;
}
.form-group{
    margin: 10px 0px;
}
.mat-form-field {
    width: 270px;
    max-width: 270px;
    min-width: 200px;
}